body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:57px;
  font-family:'HP Simplified Regular', 'HP Simplified';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:58px;
}
#u1 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:15px;
  top:16px;
  width:25px;
  height:25px;
  opacity:0.699999988079071;
  color:#333333;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:15px;
  top:16px;
  width:25px;
  height:25px;
  opacity:0.699999988079071;
  color:#333333;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:15px;
  top:16px;
  width:25px;
  height:25px;
  opacity:0.699999988079071;
  color:#333333;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:57px;
  width:375px;
  height:533px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:534px;
}
#u9 {
  position:absolute;
  left:2px;
  top:258px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:120px;
  width:375px;
  height:470px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:471px;
}
#u11 {
  position:absolute;
  left:2px;
  top:227px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:133px;
  top:70px;
  width:100px;
  height:100px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u13 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:138px;
  top:75px;
  width:90px;
  height:90px;
  font-size:72px;
  color:#CCCCCC;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:91px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:138px;
  top:75px;
  width:92px;
  height:92px;
  color:#333333;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:92px;
}
#u17 {
  position:absolute;
  left:2px;
  top:38px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:169px;
  width:375px;
  height:43px;
  font-family:'HP Simplified Regular', 'HP Simplified';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:44px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:590px;
  width:375px;
  height:57px;
  font-family:'HP Simplified Regular', 'HP Simplified';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:58px;
}
#u21 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:119px;
  top:603px;
  width:32px;
  height:32px;
  color:#333333;
}
#u22_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:42px;
  height:42px;
}
#u23 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:220px;
  top:605px;
  width:30px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:41px;
  height:41px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:320px;
  top:605px;
  width:30px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:41px;
  height:41px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:19px;
  top:605px;
  width:31px;
  height:31px;
  color:#333333;
}
#u28_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:41px;
  height:41px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:13px;
  top:259px;
  width:113px;
  height:51px;
  font-family:'HP Simplified Regular', 'HP Simplified';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:52px;
}
#u31 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:136px;
  top:259px;
  width:107px;
  height:51px;
  font-family:'HP Simplified Regular', 'HP Simplified';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:52px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:253px;
  top:259px;
  width:110px;
  height:51px;
  font-family:'HP Simplified Regular', 'HP Simplified';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:52px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:200px;
  width:375px;
  height:30px;
  font-family:'HP Simplified Regular', 'HP Simplified';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:345px;
  top:130px;
  width:20px;
  height:20px;
  color:#333333;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:225px;
  width:375px;
  height:30px;
  font-family:'HP Simplified Regular', 'HP Simplified';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:12px;
  top:472px;
  width:350px;
  height:108px;
  font-family:'HP Simplified Regular', 'HP Simplified';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:109px;
}
#u42_img.mouseOver {
}
#u42.mouseOver {
}
#u43 {
  position:absolute;
  left:2px;
  top:6px;
  width:346px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:12px;
  top:320px;
  width:350px;
  height:143px;
  font-family:'HP Simplified Regular', 'HP Simplified';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:144px;
}
#u44_img.mouseOver {
}
#u44.mouseOver {
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:346px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:12px;
  top:259px;
  width:351px;
  height:192px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:193px;
}
#u47 {
  position:absolute;
  left:2px;
  top:88px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:28px;
  top:265px;
  width:329px;
  height:28px;
  font-family:'HP Simplified Regular', 'HP Simplified';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#E30760;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:29px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:12px;
  top:293px;
  width:351px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:342px;
  top:-5px;
  width:14px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:351px;
  height:1px;
}
#u51 {
  position:absolute;
  left:28px;
  top:303px;
  width:329px;
  height:28px;
  font-family:'HP Simplified Regular', 'HP Simplified';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:29px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:12px;
  top:332px;
  width:351px;
  height:10px;
  opacity:0.100000001490116;
}
#u53_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:342px;
  top:-5px;
  width:14px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:351px;
  height:1px;
}
#u54 {
  position:absolute;
  left:28px;
  top:340px;
  width:329px;
  height:28px;
  font-family:'HP Simplified Regular', 'HP Simplified';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:29px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:12px;
  top:368px;
  width:351px;
  height:10px;
  opacity:0.100000001490116;
}
#u56_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:342px;
  top:-5px;
  width:14px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:351px;
  height:1px;
}
#u57 {
  position:absolute;
  left:28px;
  top:380px;
  width:329px;
  height:28px;
  font-family:'HP Simplified Regular', 'HP Simplified';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:29px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:12px;
  top:409px;
  width:351px;
  height:10px;
  opacity:0.100000001490116;
}
#u59_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:342px;
  top:-5px;
  width:14px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:351px;
  height:1px;
}
#u60 {
  position:absolute;
  left:28px;
  top:418px;
  width:329px;
  height:28px;
  font-family:'HP Simplified Regular', 'HP Simplified';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:29px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:331px;
  top:265px;
  width:28px;
  height:28px;
  font-family:'Leelawadee UI Regular', 'Leelawadee UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u63 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
