body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:23px;
  width:376px;
  height:624px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:625px;
}
#u1 {
  position:absolute;
  left:2px;
  top:304px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:59px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:372px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:16px;
  top:15px;
  width:37px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:31px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:28px;
  top:75px;
  width:162px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:26px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:28px;
  top:285px;
  width:172px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:26px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:30px;
  top:320px;
  width:320px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:311px;
  top:-5px;
  width:14px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u11 {
  position:absolute;
  left:28px;
  top:345px;
  width:132px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:30px;
  top:380px;
  width:320px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:311px;
  top:-5px;
  width:14px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:3px;
  width:376px;
  height:647px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:648px;
}
#u15 {
  position:absolute;
  left:2px;
  top:316px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:59px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:20px;
  width:372px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:28px;
  top:265px;
  width:322px;
  height:25px;
  font-family:'Helvetica Medium', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:26px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:30px;
  top:350px;
  width:320px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:311px;
  top:-5px;
  width:14px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u21 {
  position:absolute;
  left:110px;
  top:90px;
  width:161px;
  height:156px;
  font-family:'Helvetica Medium', 'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:157px;
}
#u22 {
  position:absolute;
  left:2px;
  top:70px;
  width:157px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:16px;
  top:15px;
  width:37px;
  height:30px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:31px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  word-wrap:break-word;
}
